<section>
  <h1>{{ data ? 'Edit' : 'Add New'}} Task</h1>
  <p>
    Fill in the form below to {{ data ? 'update' : 'add new' }} task
  </p>

  <form [formGroup]="todoForm"
        (ngSubmit)="submitForm()">
    <div mat-dialog-content>
      <div>
        <mat-form-field>
          <mat-label>Label</mat-label>
          <mat-icon matPrefix>short_text</mat-icon>
          <input matInput type="text" formControlName="label">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <mat-icon matPrefix>notes</mat-icon>
          <textarea matInput
                    formControlName="description"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"></textarea>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select required formControlName="category">
            <mat-option>Select category</mat-option>
            <mat-option *ngFor="let item of categories" [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Enter date when task is done</mat-label>
          <input matInput [matDatepicker]="doneDate" (click)="doneDate.open()" formControlName="done" placeholder="MM/DD/YYYY">
          <mat-datepicker #doneDate></mat-datepicker>
        </mat-form-field>
      </div>
    </div>


    <div mat-dialog-actions>
      <button mat-stroked-button color="primary" type="button"
              (click)="cancel()">
        Cancel
      </button>
      <button [disabled]="!(todoForm.valid && todoForm.dirty)"
              type="submit"
              mat-flat-button
              color="primary">
        Submit
      </button>
    </div>
  </form>
</section>
