.search-form {
  display: flex;
  align-items: center;

  .search-wrap {
    display: flex;
    flex: 1 0 auto;
    align-items: center;

    ::ng-deep {
      .mat-form-field-wrapper {
        width: 100%;
      }
    }
  }

  .button-toggle {
    margin-bottom: 22px;
  }
}
