<section class="section">
  <h1>TODO List</h1>

  <app-todo-filter></app-todo-filter>

  <section *ngIf="(todoList$ | async)?.length; else noComponents">
    <mat-selection-list #todos (selectionChange)="onGroupsChange($event)">
      <mat-list-option #matOption
                       matTooltip="Click to view details"
                       *ngFor="let item of (todoList$ | async)"
                       [value]="item"
                       [selected]="item.done">
         <span [routerLink]="[item.id]">
          {{item.label}}
        </span>
      </mat-list-option>
    </mat-selection-list>

    <p>
      Options selected: {{todos.selectedOptions.selected.length}}
    </p>
  </section>

  <ng-template #noComponents>
    <p>There are no todo items</p>
  </ng-template>
</section>
